html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  position: reletive;
}

#background {
  height: 100%;
  width: 100%;

}

.main {
  text-align: center;
  padding-top: 50%;

}

/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
} */ 