/* SCSS HEX */
$heliotrope-light: #d984fc;
$heliotrope-medium: #d660fc;
$heliotrope-dark: #ca43fc;
$heliotrope-darker: #e442fc;
$mauve-light: #e3b1fc;
$mauve-dark: #d49cfc;
$electric-violet-light: #cb15fc;
$electric-violet-medium: #ca2ffc;
$electric-violet-dark: #aa0dfc;
$electric-violet-darker: #b412fc;

/* SCSS RGB */
$heliotrope-light-rgb: rgba(217,132,252,1);
$heliotrope-medium-rgb: rgba(214,96,252,1);
$heliotrope-dark-rgb: rgba(202,67,252,1);
$heliotrope-darker-rgb: rgba(228,66,252,1);
$mauve-light-rgb: rgba(227,177,252,1);
$mauve-dark-rgb: rgba(212,156,252,1);
$electric-violet-light-rgb: rgba(203,21,252,1);
$electric-violet-medium-rgb: rgba(202,47,252,1);
$electric-violet-dark-rgb: rgba(170,13,252,1);
$electric-violet-darker-rgb: rgba(180,18,252,1);
